<template name="client_contact_message">

    <div style="padding: 0; margin:5px auto; font-size: 14px; overflow: hidden; width:450px; border-radius: 8px; border:1px solid #0069aa; background: #f0f0f0; color: DimGrey; text-shadow: 1px 1px 1px white;">
        <div style="border-bottom:1px solid #c7c7c7;">
            <h2 style="padding:5px; margin:0; color: #0069aa; background: white;">Venue Info</h2>
            <div style="padding:3px 6px; border-top: 1px dashed #0069aa;">Name:<span style="float:right; color: #0069aa; font-weight: bold;">{{venue.name}}</span></div>
            <div style="padding:3px 6px; border-top: 1px dashed #0069aa;">Address:<span style="float:right; color: #0069aa; font-weight: bold;">{{venue.address}}</span></div>
            <div style="padding:3px 6px; border-top: 1px dashed #0069aa;">Email:<span style="float:right; color: #0069aa; font-weight: bold;">{{venue.email}}</span></div>
        </div>

        <div style="border-bottom:1px solid #c7c7c7;">
            <h2 style="padding:5px; margin:0; color: #0069aa; background: white;">Message</h2>
            <div style="margin: 8px; padding:5px; border: 1px solid #c7c7c7; background: white;">{{getSubject}}</div>
            <div style="margin: 8px; padding:5px; min-height:100px; border: 1px solid #c7c7c7; background: white;">{{content}}</div>
        </div>
    </div>

</template>